management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
spring:
  cloud:
    gateway:
      routes:
      - filters:
        - RewritePath=/order-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: order-service-route
        predicates:
        - Path=/order-service/**
        uri: http://localhost:8080
      - filters:
        - RewritePath=/payment-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: payment-service-route
        predicates:
        - Path=/payment-service/**
        uri: http://localhost:8081
      - filters:
        - RewritePath=/user-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: user-service-route
        predicates:
        - Path=/user-service/**
        uri: http://localhost:8082
      - filters:
        - RewritePath=/inventory-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: inventory-service-route
        predicates:
        - Path=/inventory-service/**
        uri: http://localhost:8083
      - filters:
        - RewritePath=/notification-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: notification-service-route
        predicates:
        - Path=/notification-service/**
        uri: http://localhost:8084
      - filters:
        - RewritePath=/reporting-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: reporting-service-route
        predicates:
        - Path=/reporting-service/**
        uri: http://localhost:8085
      - filters:
        - RewritePath=/auth-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: auth-service-route
        predicates:
        - Path=/auth-service/**
        uri: http://localhost:8086
      - filters:
        - RewritePath=/transaction-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: transaction-service-route
        predicates:
        - Path=/transaction-service/**
        uri: http://localhost:8087
      - filters:
        - RewritePath=/reporting-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: reporting-service-route
        predicates:
        - Path=/reporting-service/**
        uri: http://localhost:8088
      - filters:
        - RewritePath=/user-service/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: user-service-route
        predicates:
        - Path=/user-service/**
        uri: http://localhost:8089
      - filters:
        - RewritePath=/custom-service-11/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: custom-service-11-route
        predicates:
        - Path=/custom-service-11/**
        uri: http://localhost:8090
      - filters:
        - RewritePath=/custom-service-12/(?<segment>.*), /${segment}
        - RequestRateLimiter=redisRateLimiter
        - CircuitBreaker=myCircuitBreaker
        id: custom-service-12-route
        predicates:
        - Path=/custom-service-12/**
        uri: http://localhost:8091
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8083/auth/realms/api-gateway
